.content {
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.item > * {
  flex: 1 1 min(100%, 300px); /* יתאים לגודל המסך */
  max-width: 50%;
  box-sizing: border-box;
}
